.session {
  height: 50px;
  display: flex;
  flex: none;
  align-items: center;
  margin: 5px 0 0 10px;
  padding: 0 5px;
  background: lightgrey;
  font-size: 16px;
}

.active {
  background: #cbb8ee;
}

.opaque {
  opacity: 0;
}

.close {
  border-radius: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(1, 1, 1, 0.5);
  padding-right: 10px;
}

.close:hover {
  color: rgba(1, 1, 1, 1);
}
