.app {
  font-family: 'Helvetica Neue';
  max-height: 100vh;
  height: calc(100vh - 5px);
  width: 100vw;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.app a {
  text-decoration: none;
  color: black;
}

.app a:hover {
  text-decoration: underline;
}

.main {
  height: 100%;
  width: calc(100% - 210px);
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}
