.header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 5px 5px 0;
  padding: 0 10px;
  background: #cbb8ee;
}

.header button {
  border-radius: 0;
  background-color: lightgrey;
  border: none;
  outline: none;
}
