.panel {
  width: 0;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  margin-right: 5px;
  background: #eeeeee;
}

.panelHeader {
  height: 30px;
  display: flex;
  flex: 0 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: lightsteelblue;
}

.panelHeader button {
  border-radius: 0;
  background-color: lightgrey;
  border: none;
  outline: none;
}

.panelHeader button {
  margin-left: 5px;
}

.panelHeaderMenu {
  display: flex;
  flex-direction: row;
}

.panelBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}
